# Copyright 2024 Caroline Blank <caro@c-space.org>
# Copyright 2024 Remy Blank <remy@c-space.org>
# SPDX-License-Identifier: MIT

[submodule "sqlite-wasm"]
    path = ext/sqlite-wasm
    url = https://github.com/sqlite/sqlite-wasm.git
