#!/usr/bin/env xdg-open
[Desktop Entry]
Name=tdoc serve
Type=Application
GenericName=Start a local t-doc server
Comment=
Icon=document-preview
Exec=cd "$(dirname "%k")" && ./run-tdoc@t-doc-common.py serve
Path=
Terminal=true
StartupNotify=false
