/* Copyright 2025 Remy Blank <remy@c-space.org> */
/* SPDX-License-Identifier: MIT */

@import "print-common.css";

@page {
    @top-left {
        content: attr(data-tdoc-subject);
        white-space: nowrap;
    }
    @top-center {
        content: attr(data-tdoc-title);
        font-weight: bold;
    }
    @top-right {
        content: attr(data-tdoc-date);
    }
    @bottom-left {
        content: attr(data-tdoc-author);
    }
    @bottom-center {
        content: counter(page) " / " counter(pages);
    }
}

@media print {
    .bd-main .bd-content #jb-print-docs-body {
        display: none !important;
    }
    .bd-main .bd-content .bd-article-container .bd-article {
        padding-top: 0;
}
